{
  "http_interactions": [
    {
      "recorded_at": "2020-05-01T06:15:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000006cpc8ssw.2.1588313720502.Z0FBQUFBQmVxNzU0eHpibG1sMjFSVmhXSlVvek1vaUtPcmEycG1VM2RaUk9MRXhldC1yTGc5LU9BMXBQU3QtdURLQUNUdFl5aXRzTXR6aVNQNUxHaGZLdW5QWmFXd3AydzFuenZSZGxyY3R2QmEwcFVfLTFZMkRpYjNGc0FLYnZENkU2ZV8wYWQxVXE"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-05-01T06:15:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/GabeNewellBellevue/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"icon_img\": \"https://www.redditstatic.com/avatars/avatar_default_13_FF585B.png\", \"pref_show_snoovatar\": false, \"name\": \"GabeNewellBellevue\", \"is_friend\": false, \"created\": 1389767219.0, \"has_subscribed\": true, \"hide_from_robots\": false, \"created_utc\": 1389738419.0, \"link_karma\": 14258, \"comment_karma\": 364245, \"is_gold\": true, \"is_mod\": false, \"verified\": true, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": null, \"banner_img\": \"\", \"restrict_posting\": true, \"user_is_banned\": null, \"free_form_reports\": true, \"community_icon\": \"\", \"show_media\": true, \"icon_color\": \"#FF585B\", \"user_is_muted\": null, \"display_name\": \"u_GabeNewellBellevue\", \"header_img\": null, \"title\": \"\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://www.redditstatic.com/avatars/avatar_default_13_FF585B.png\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": true, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/GabeNewellBellevue\", \"key_color\": \"\", \"name\": \"t5_1s8b42\", \"is_default_banner\": true, \"url\": \"/user/GabeNewellBellevue/\", \"banner_size\": null, \"user_is_moderator\": null, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": null}, \"has_verified_email\": true, \"id\": \"et9h8\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/GabeNewellBellevue/about/?raw_json=1"
      }
    },
    {
      "recorded_at": "2020-05-01T06:15:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/GabeNewellBellevue/comments?sort=new&limit=1000&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_9c6jkp\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"e58va17\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": true, \"no_follow\": false, \"author\": \"GabeNewellBellevue\", \"num_comments\": 85, \"can_mod_post\": false, \"created_utc\": 1535854104.0, \"send_replies\": true, \"parent_id\": \"t3_9c6jkp\", \"score\": 785, \"author_fullname\": \"t2_et9h8\", \"over_18\": false, \"treatment_tags\": [], \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_31338\", \"body\": \"He is no longer \\\"ex.\\\"  \\n\", \"link_title\": \"The last challenger was Adrian Finol, ex Valve/Dota 2 dev.\", \"author_flair_css_class\": \"org valve\", \"name\": \"t1_e58va17\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EHe is no longer \\u0026quot;ex.\\u0026quot;  \\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": true, \"can_gild\": true, \"subreddit\": \"Artifact\", \"author_flair_text_color\": \"dark\", \"score_hidden\": false, \"permalink\": \"/r/Artifact/comments/9c6jkp/the_last_challenger_was_adrian_finol_ex_valvedota/e58va17/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/Artifact/comments/9c6jkp/the_last_challenger_was_adrian_finol_ex_valvedota/\", \"report_reasons\": null, \"link_author\": \"[deleted]\", \"subreddit_name_prefixed\": \"r/Artifact\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/Artifact/comments/9c6jkp/the_last_challenger_was_adrian_finol_ex_valvedota/\", \"created\": 1535882904.0, \"collapsed\": false, \"awarders\": [], \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": \"\", \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 785}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_5olhj4\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dckafvp\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": true, \"no_follow\": false, \"author\"[...]
    {
      "recorded_at": "2020-05-01T06:15:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/GabeNewellBellevue/comments?sort=new&limit=1000&after=t1_cq632ic&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "st[...]
    {
      "recorded_at": "2020-05-01T06:15:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/GabeNewellBellevue/comments?sort=new&limit=1000&after=t1_cfuf8af&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "st[...]
