{
  "http_interactions": [
    {
      "recorded_at": "2020-04-30T02:59:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000006ccbt6ii.2.1588215570051.Z0FBQUFBQmVxajhTVDVMV2FtaXUxYlZiQWF5dmZsVmZxRWcwNHpWc0Z0bENMOHc2WmtjalZKZW9OaXNfMXc0MkdVU0ZFOWxqalRvejJVd1RvTmcyS0p3UFZWTTBxaDVzRXZXVmYtSTBfdVpYaXM3bHJDbi1hczdENlJRckNLWVR6aU9NQ2pKRzUtQXk"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-04-30T02:59:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/globaloffensive/hot?limit=10&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 11, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"GlobalOffensive\", \"selftext\": \"#[ESL One: Road to Rio](https://static.hltv.org/images/galleries/1693-full/1586250484.774.jpeg)\\n\\n---\\n\\n* **Organizer**: [ESL](https://www.eslgaming.com/)\\n* **Sponsors**: [Intel](https://www.intel.com/content/www/us/en/gaming/serious-gaming.html), [MTN DEW GAME FUEL](https://www.gamefuel.com/), [DHL](https://inmotion.dhl/en/esports/), [GG.BET](https://gg.bet/en/betting)\\n* **Location**: Online\\n* **Date**: April 22 - May 17, 2020\\n* **Prize Pool**: EU - $115,000 / NA - $60,000 / CI[...]
