{
  "http_interactions": [
    {
      "recorded_at": "2020-04-30T02:58:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000006ccbem7r.2.1588215506097.Z0FBQUFBQmVxajdTLUtpblozaE81NFlKS2F0ekhKM1piY21fVVVLeEtWdzkwR3ktVzgxS3ZJU2VxNW1HbjBvb3hRNXlXVDlWS09BSzBRYnNpeXB6TzlHcFQ4S3UtdXVYSnNjeGVZbFF1QUh1YUYzTWJUUERoQXhmZjFZUEh3Q1Y2aGJYa0JQZ0c1WU0"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-04-30T02:58:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/globaloffensive/hot?limit=10&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 11, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"GlobalOffensive\", \"selftext\": \"#[ESL One: Road to Rio](https://static.hltv.org/images/galleries/1693-full/1586250484.774.jpeg)\\n\\n---\\n\\n* **Organizer**: [ESL](https://www.eslgaming.com/)\\n* **Sponsors**: [Intel](https://www.intel.com/content/www/us/en/gaming/serious-gaming.html), [MTN DEW GAME FUEL](https://www.gamefuel.com/), [DHL](https://inmotion.dhl/en/esports/), [GG.BET](https://gg.bet/en/betting)\\n* **Location**: Online\\n* **Date**: April 22 - May 17, 2020\\n* **Prize Pool**: EU - $115,000 / NA - $60,000 / CI[...]
    {
      "recorded_at": "2020-04-30T02:58:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/g5eht2/?limit=2048&sort=best&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\",[...]
    {
      "recorded_at": "2020-04-30T02:58:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/ga9dsd/?limit=2048&sort=best&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 1, \"children\": [{\"kind\": \"t3\", \"data\": {\"approved_at_utc\": null, \"subreddit\": \"GlobalOffensive\", \"selftext\": \"\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"One Bullet Ace. Prolly the only one in the history of CS:GO!?\", \"link_flair_richtext\": [{\"e\": \"text\", \"t\": \"Gameplay\"}], \"subreddit_name_prefixed\": \"r/GlobalOffensive\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": \"gameplay\", \"downs\": 0, \"thumbnail_height\": 78, \"parent_whitelist_status\": \"all_ads\", \"hide_score\": false, \"name\": \"t3_ga9dsd\", \"quarantine\": false, \"link_flair_text_color\": \"light\", \"upvote_ratio\": 0.93, \"author_flair_background_color\": null, \"subreddit_type\": \"public\", \"ups\": 19004, \"total_awards_received\": 2, \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_49u7kxeo\", \"secure_media\": {\"reddit_video\": {\"fallback_url\": \"https://v.redd.it/ejl5oir7drv41/DASH_720?source=fallback\", \"height\": 720, \"width\": 1280, \"scrubber_media_url\": \"https://v.redd.it/ejl5oir7drv41/DASH_96\", \"dash_url\": \"https://v.redd.it/ejl5oir7drv41/DASHPlaylist.mpd\", \"duration\": 22, \"hls_url\": \"https://v.redd.it/ejl5oir7drv41/HLSPlaylist.m3u8\", \"is_gif\": true, \"transcoding_status\": \"completed\"}}, \"is_reddit_media_domain\": true, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": \"Gameplay\", \"can_mod_post\": false, \"num_duplicates\": 2, \"approved_by\": null, \"author_premium\": false, \"thumbnail\": \"https://b.thumbs.redditmedia.com/8Q9gaukTSGA4nQyl6-aQNFWkLnamvJ5b1W8DLoF6pwY.jpg\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {\"gid_1\": 1}, \"post_hint\": \"hosted:video\", \"content_categories\": null, \"is_self\": false, \"mod_note\": null, \"created\": 1588195457.0, \"link_flair_type\": \"richtext\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"v.redd.it\", \"allow_live_comments\": true, \"selftext_html\": null, \"likes\": null, \"suggested_sort\": null, \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"score\": 19004, \"no_follow\": false, \"is_crosspostable\": false, \"pinned\": false, \"over_18\": false, \"preview\": {\"images\": [{\"source\": {\"url\": \"https://external-preview.redd.it/QA5kaHVXUzfQhyhOho8ixujk0IHo2w9tF_3Nl1Hmf1w.png?format=pjpg\\u0026auto=webp\\u0026s=40bd546115ef84ef1675a5c7610f24862b726139\", \"width\": 1280, \"height\": 720}, \"resolutions\": [{\"url\": \"https://external-preview.redd.it/QA5kaHVXUzfQhyhOho8ixujk0IHo2w9tF_3Nl1Hmf1w.png?width=108\\u0026crop=smart\\u0026format=pjpg\\u0026auto=webp\\u0026s=d64bacdcd30c1ebc35103ff1779af461f7a479d3\", \"width\": 108, \"height\": 60}, {\"url\": \"https://external-preview.redd.it/QA5kaHVXUzfQhyhOho8ixujk0IHo2w9tF_3Nl1Hmf1w.png?width=216\\u0026crop=smart\\u0026format=pjpg\\u0026auto=webp\\u0026s=93d740d14fd4b47e89f7dd18ff69e65ef28a3d59\", \"width\": 216, \"height\": 121}, {\"url\": \"https://external-preview.redd.it/QA5kaHVXUzfQhyhOho8ixujk0IHo2w9tF_3Nl1Hmf1w.png?width=320\\u0026crop=smart\\u0026format=pjpg\\u0026auto=webp\\u0026s=5cdda98b3a2312276c405914c370902486a91795\", \"width\": 320, \"height\": 180}, {\"url\": \"https://external-preview.redd.it/QA5kaHVXUzfQhyhOho8ixujk0IHo2w9tF_3Nl1Hmf1w.png?width=640\\u0026crop=smart\\u0026format=pjpg\\u0026auto=webp\\u0026s=c3838496637fcb8d78aa8d5a55925f930067f4ef\", \"width\": 640, \"height\": 360}, {\"url\": \"https://external-preview.redd.it/QA5kaHVXUzfQhyhOho8ixujk0IHo2w9tF_3Nl1Hmf1w.png?width=960\\u0026crop=smart\\u0026format=pjpg\\u0026auto=webp\\u0026s=e9b11222db5f7467df99b88853a8efc64a4d313e\", \"width\": 960, \"height\": 540}, {\"url\": \"https://external-preview.redd.it/QA5kaHVXUzfQhyhOho8ixujk0IHo2w9tF_3Nl1Hmf1w.png?width=1080\\u0026crop=smart\\u0026format=pjpg\\u0026auto=webp\\u0026s=819483cae7caaf8dc8fe618bed68b08fae69372f\", \"width\": 1080, \"height\": 607}], \"variants\": {}, \"id\": \"5D1-C9YUmuoEQKdhRMCp1LF6Fw5_x61Or8lRBFVAod0\"}], \"enabled\": false}, \"all_awardings\": [{\"giver_coin_reward\": null, \"subreddit_id\": null, \"is_new\": false, \"days_of_drip_extension\": 0, \"coin_price\": 250, \"id\": \"award_a3c1ccbb-45ed-44d4-bc46-2cd29e512ac9\", \"penny_donate\": null, \"coin_reward\": 0, \"icon_url\": \"https://i.redd.it/award_images/t5_22cerq/trfyx0qv67g41_SuperHeartEyes.png\", \"days_of_premium\": 0, \"icon_height\": 2048, \"resized_icons\": [{\"url\": \"https://preview.redd.it/award_images/t5_22cerq/trfyx0qv67g41_SuperHeartEyes.png?width=16\\u0026height=16\\u0026auto=webp\\u0026s=6705c0f5e744551f6254cf0deb82f844149c7316\", \"width\": 16, \"height\": 16}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/trfyx0qv67g41_SuperHeartEyes.png?width=32\\u0026height=32\\u0026auto=webp\\u0026s=fe212fbc05a8f58fbb49682ad3704ed1a5d461cf\", \"width\": 32, \"height\": 32}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/trfyx0qv67g41_SuperHeartEyes.png?width=48\\u0026height=48\\u0026auto=webp\\u0026s=fa34c1777ec2194aeef3fe290e23fd1fa91416a9\", \"width\": 48, \"height\": 48}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/trfyx0qv67g41_SuperHeartEyes.png?width=64\\u0026height=64\\u0026auto=webp\\u0026s=75d7bcd098d9cb9622d873d0cdd3901aee491442\", \"width\": 64, \"height\": 64}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/trfyx0qv67g41_SuperHeartEyes.png?width=128\\u0026height=128\\u0026auto=webp\\u0026s=cc61c29c0435779cdad2983dc8277b77654237ec\", \"width\": 128, \"height\": 128}], \"icon_width\": 2048, \"start_date\": null, \"is_enabled\": true, \"description\": \"When the love is out of control.\", \"end_date\": null, \"subreddit_coin_reward\": 0, \"count\": 1, \"name\": \"Super Heart Eyes\", \"icon_format\": null, \"award_sub_type\": \"GLOBAL\", \"penny_price\": null, \"award_type\": \"global\"}, {\"giver_coin_reward\": null, \"subreddit_id\": null, \"is_new\": false, \"days_of_drip_extension\": 0, \"coin_price\": 100, \"id\": \"gid_1\", \"penny_donate\": null, \"coin_reward\": 0, \"icon_url\": \"https://www.redditstatic.com/gold/awards/icon/silver_512.png\", \"days_of_premium\": 0, \"icon_height\": 512, \"resized_icons\": [{\"url\": \"https://www.redditstatic.com/gold/awards/icon/silver_16.png\", \"width\": 16, \"height\": 16}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/silver_32.png\", \"width\": 32, \"height\": 32}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/silver_48.png\", \"width\": 48, \"height\": 48}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/silver_64.png\", \"width\": 64, \"height\": 64}, {\"url\": \"https://www.redditstatic.com/gold/awards/icon/silver_128.png\", \"width\": 128, \"height\": 128}], \"icon_width\": 512, \"start_date\": null, \"is_enabled\": true, \"description\": \"Shows the Silver Award... and that's it.\", \"end_date\": null, \"subreddit_coin_reward\": 0, \"count\": 1, \"name\": \"Silver\", \"icon_format\": null, \"award_sub_type\": \"GLOBAL\", \"penny_price\": null, \"award_type\": \"global\"}], \"awarders\": [], \"media_only\": false, \"link_flair_template_id\": \"494583ba-422d-11e5-aa5e-0e49b4de90e1\", \"can_gild\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"num_reports\": null, \"distinguished\": null, \"subreddit_id\": \"t5_2sqho\", \"mod_reason_by\": null, \"removal_reason\": null, \"link_flair_background_color\": \"#516484\", \"id\": \"ga9dsd\", \"is_robot_indexable\": true, \"report_reasons\": null, \"author\": \"shauryadevil\", \"discussion_type\": null, \"num_comments\": 504, \"send_replies\": true, \"media\": {\"reddit_video\": {\"fallback_url\": \"https://v.redd.it/ejl5oir7drv41/DASH_720?source=fallback\", \"height\": 720, \"width\": 1280, \"scrubber_media_url\": \"https://v.redd.it/ejl5oir7drv41/DASH_96\", \"dash_url\": \"https://v.redd.it/ejl5oir7drv41/DASHPlaylist.mpd\", \"duration\": 22, \"hls_url\": \"https://v.redd.it/ejl5oir7drv41/HLSPlaylist.m3u8\", \"is_gif\": true, \"transcoding_status\": \"completed\"}}, \"contest_mode\": false, \"author_patreon_flair\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/GlobalOffensive/comments/ga9dsd/one_bullet_ace_prolly_the_only_one_in_the_history/\", \"whitelist_status\": \"all_ads\", \"stickied\": false, \"url\": \"https://v.redd.it/ejl5oir7drv41\", \"subreddit_subscribers\": 1066261, \"created_utc\": 1588166657.0, \"num_crossposts\": 2, \"mod_reports\": [], \"is_video\": true}}], \"after\": null, \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"ups\": 1600, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"richtext\", \"removal_reason\": null, \"link_id\": \"t3_ga9dsd\", \"author_flair_template_id\": \"aca218a4-40b7-11e6-97c1-0eaf3b62ddcb\", \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"ups\": 262, \"awarders\": [], \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_ga9dsd\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": {\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": null, \"children\": [{\"kind\": [...]
