{
  "http_interactions": [
    {
      "recorded_at": "2020-04-24T02:46:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000006ah9kq68.2.1587696373120.Z0FBQUFBQmVvbEwxZ2RLMGxHOWloaTlDRnhOcHBiN1ZlbzY2UFluRmxuc0JBRmpiRTN6M3NaV2FoanZ2S3l2OUVHelJOTDJ4Rk5VeVpTcUUyenlwWmFkakdHS2lvMVFsZ0NCRmcwcnVIanZEcTNBSlNOMC1Id0tHQmxzT3k3TVh4ZG1HXzZINzdCOFI"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-04-24T02:46:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/GabeNewellBellevue/comments?sort=new&limit=200&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 100, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_9c6jkp\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"e58va17\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": true, \"no_follow\": false, \"author\": \"GabeNewellBellevue\", \"num_comments\": 85, \"can_mod_post\": false, \"created_utc\": 1535854104.0, \"send_replies\": true, \"parent_id\": \"t3_9c6jkp\", \"score\": 788, \"author_fullname\": \"t2_et9h8\", \"over_18\": false, \"treatment_tags\": [], \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [], \"subreddit_id\": \"t5_31338\", \"body\": \"He is no longer \\\"ex.\\\"  \\n\", \"link_title\": \"The last challenger was Adrian Finol, ex Valve/Dota 2 dev.\", \"author_flair_css_class\": \"org valve\", \"name\": \"t1_e58va17\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EHe is no longer \\u0026quot;ex.\\u0026quot;  \\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": true, \"can_gild\": true, \"subreddit\": \"Artifact\", \"author_flair_text_color\": \"dark\", \"score_hidden\": false, \"permalink\": \"/r/Artifact/comments/9c6jkp/the_last_challenger_was_adrian_finol_ex_valvedota/e58va17/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/Artifact/comments/9c6jkp/the_last_challenger_was_adrian_finol_ex_valvedota/\", \"report_reasons\": null, \"link_author\": \"[deleted]\", \"subreddit_name_prefixed\": \"r/Artifact\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/Artifact/comments/9c6jkp/the_last_challenger_was_adrian_finol_ex_valvedota/\", \"created\": 1535882904.0, \"collapsed\": false, \"awarders\": [], \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": \"\", \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"public\", \"ups\": 788}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_5olhj4\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dckafvp\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": true, \"no_follow\": false, \"author\"[...]
    {
      "recorded_at": "2020-04-24T02:46:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/GabeNewellBellevue/comments?sort=new&limit=200&after=t1_cq632ic&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "str[...]
[...]
