{
  "http_interactions": [
    {
      "recorded_at": "2020-04-23T21:59:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-reddit-loid": [
            "00000000006af00h4s.2.1587679167988.Z0FBQUFBQmVvZ19BeDNqUmN5b0k0VzNVdHotdEF2d1JmLVVqMzhuVk5Td3ozVkFEajY3a2lTdEJaa3htckI5ZjJhUTY0MnJEcGRvaFp1X1dmdmxXcEN3UF9fdjB3ekwxTE9nWTVYN2xpTjBjSjhHTUVxNklKWXlTNkROTUE1RlR3MUVqZjZab05lZ3k"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2020-04-23T21:59:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/spez/comments?sort=new&limit=10&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"dist\": 10, \"children\": [{\"kind\": \"t1\", \"data\": {\"total_awards_received\": 1, \"approved_at_utc\": null, \"edited\": false, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_f8y9nx\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"fipcb0c\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": false, \"author\": \"spez\", \"num_comments\": 16972, \"can_mod_post\": false, \"created_utc\": 1582603066.0, \"send_replies\": true, \"parent_id\": \"t1_fip40cg\", \"score\": 364, \"author_fullname\": \"t2_1w72\", \"over_18\": false, \"treatment_tags\": [], \"approved_by\": null, \"mod_note\": null, \"all_awardings\": [{\"giver_coin_reward\": 0, \"subreddit_id\": null, \"is_new\": false, \"days_of_drip_extension\": 0, \"coin_price\": 50, \"id\": \"award_02d9ab2c-162e-4c01-8438-317a016ed3d9\", \"penny_donate\": 0, \"coin_reward\": 0, \"icon_url\": \"https://i.redd.it/award_images/t5_22cerq/898sygoknoo41_TakeMyEnergy.png\", \"days_of_premium\": 0, \"icon_height\": 2048, \"resized_icons\": [{\"url\": \"https://preview.redd.it/award_images/t5_22cerq/898sygoknoo41_TakeMyEnergy.png?width=16\\u0026height=16\\u0026auto=webp\\u0026s=92e96be1dbd278dc987fbd9acc1bd5078566f254\", \"width\": 16, \"height\": 16}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/898sygoknoo41_TakeMyEnergy.png?width=32\\u0026height=32\\u0026auto=webp\\u0026s=83e14655f2b162b295f7d2c7058b9ad94cf8b73c\", \"width\": 32, \"height\": 32}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/898sygoknoo41_TakeMyEnergy.png?width=48\\u0026height=48\\u0026auto=webp\\u0026s=83038a4d6181d3c8f5107dbca4ddb735ca6c2231\", \"width\": 48, \"height\": 48}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/898sygoknoo41_TakeMyEnergy.png?width=64\\u0026height=64\\u0026auto=webp\\u0026s=3c4e39a7664d799ff50f32e9a3f96c3109d2e266\", \"width\": 64, \"height\": 64}, {\"url\": \"https://preview.redd.it/award_images/t5_22cerq/898sygoknoo41_TakeMyEnergy.png?width=128\\u0026height=128\\u0026auto=webp\\u0026s=390bf9706b8e1a6215716ebcf6363373f125c339\", \"width\": 128, \"height\": 128}], \"icon_width\": 2048, \"start_date\": null, \"is_enabled\": true, \"description\": \"I'm in this with you.\", \"end_date\": null, \"subreddit_coin_reward\": 0, \"count\": 1, \"name\": \"Take My Energy\", \"icon_format\": \"PNG\", \"award_sub_type\": \"GLOBAL\", \"penny_price\": 0, \"award_type\": \"global\"}], \"subreddit_id\": \"t5_2r0ij\", \"body\": \"Think it only works on desktop:\\n\\nhttps://old.reddit.com/r/reddit.com/comments/2pnpu/_/\", \"link_title\": \"Spring forward\\u2026 into Reddit\\u2019s 2019 transparency report\", \"author_flair_css_class\": null, \"name\": \"t1_fipcb0c\", \"author_patreon_flair\": false, \"downs\": 0, \"author_flair_richtext\": [], \"is_submitter\": true, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThink it only works on desktop:\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"https://old.reddit.com/r/reddit.com/comments/2pnpu/_/\\\"\\u003Ehttps://old.reddit.com/r/reddit.com/comments/2pnpu/_/\\u003C/a\\u003E\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"gildings\": {}, \"collapsed_reason\": null, \"distinguished\": null, \"associated_award\": null, \"stickied\": false, \"author_premium\": true, \"can_gild\": true, \"subreddit\": \"announcements\", \"author_flair_text_color\": null, \"score_hidden\": false, \"permalink\": \"/r/announcements/comments/f8y9nx/spring_forward_into_reddits_2019_transparency/fipcb0c/\", \"num_reports\": null, \"link_permalink\": \"https://www.reddit.com/r/announcements/comments/f8y9nx/spring_forward_into_reddits_2019_transparency/\", \"report_reasons\": null, \"link_author\": \"spez\", \"subreddit_name_prefixed\": \"r/announcements\", \"author_flair_text\": null, \"link_url\": \"https://www.reddit.com/r/announcements/comments/f8y9nx/spring_forward_into_reddits_2019_transparency/\", \"created\": 1582631866.0, \"collapsed\": false, \"awarders\": [], \"controversiality\": 0, \"locked\": false, \"author_flair_background_color\": null, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"subreddit_type\": \"restricted\", \"ups\": 364}}, {\"kind\": \"t1\", \"data\": {\"total_awards_received\": 0, \"approved_at_utc\": null, \"edited\": 1582592276.0, \"mod_reason_by\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"removal_reason\": null, \"link_id\": \"t3_f8y9nx\", \"author_flair_template_id\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"fiotgqr\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"no_follow\": false, \"[...]
